In [1]:
import json
import pandas as pd
import numpy as np

In [3]:
# GeoJson sources

neigh_bounds = "../Geojson/NeighbourhoodBoundaries.json"
train_lines = "../Geojson/SubwayLinesEdit.geojson"
train_entrances = "../Geojson/SubwayEntrances.geojson"
train_stations = "../Geojson/SubwayStations.geojson"

In [4]:
# Neighbourhood Boundaries simplify

with open(neigh_bounds, 'r') as bounds_file:
    bounds_data = json.load(bounds_file)

In [5]:
for i, data in enumerate(bounds_data['features']):
    bounds_data['features'][i] = { 
        'ntacode': data['properties']['ntacode'], 
        'name': data['properties']['ntaname'], 
        'boro': data['properties']['boro_name'], 
        'coords': data['geometry']['coordinates'],
        'geom_type':  data['geometry']['type']}

In [6]:
with open('reduced_nbounds.json', 'w') as f:
    json.dump(bounds_data, f)

In [5]:
# Subway Entrances simplify

with open(train_entrances, 'r') as entr_file:
    entr_data = json.load(entr_file)

In [6]:
for i, data in enumerate(entr_data['features']):
    entr_data['features'][i] = {
        'line': data['properties']['line'],
        'line_name': data['properties']['name'],
        'type': data['geometry']['type'],
        'coords': data['geometry']['coordinates']
    }

In [8]:
with open('reduced_subentr.json', 'w') as fp:
    json.dump(entr_data, fp)

In [9]:
# Subway stations simplify
with open(train_stations, 'r') as stations_file:
    stations_data = json.load(stations_file)

In [11]:
for i, data in enumerate(stations_data['features']):
    stations_data['features'][i] = {
        'name': data['properties']['name'],
        'line': data['properties']['line'],
        'coords': data['geometry']['coordinates'],
        'type': data['geometry']['type']
    }

In [12]:
with open('reduced_stations.json', 'w') as fp:
    json.dump(stations_data, fp)

In [13]:
# Subway lines edit
with open(train_lines, 'r') as lines_file:
    lines_data = json.load(lines_file)

In [14]:
for i, data in enumerate(lines_data['features']):
    lines_data['features'][i] = {
        'line_name': data['properties']['name'],
        'coords': data['geometry']['coordinates'],
        'type': data['geometry']['type']
    }

In [15]:
with open('reduced_lines.json', 'w') as fp:
    json.dump(lines_data, fp)

In [40]:
exdf = pd.read_excel('../tempexcel.xlsx')

In [41]:
exdf = pd.DataFrame(exdf)

In [42]:
exdf.to_csv('tempcsv.csv', index=False)

In [43]:
tempcsv = pd.read_csv('../tempcsv.csv', skiprows=10)

In [44]:
tempdf = pd.DataFrame(tempcsv)
tempdf.drop(tempdf.columns[0],axis=1, inplace=True)
tempdf.drop(tempdf.columns[1],axis=1, inplace=True)
tempdf.drop(tempdf.columns[-1],axis=1, inplace=True)
tempdf.drop(tempdf.columns[-1],axis=1, inplace=True)

In [45]:
tempdf.head()

,Crime Complaints,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,Week to Date,NaN,NaN,28 Day,NaN,NaN,Year to Date*,NaN,NaN,2 Year
1,,2022,2021.0,% Chg,2022,2021,% Chg,2022,2021,% Chg,% Chg
2,Murder,4,4.0,0,11,14,-21.428571428571,40,37,8.108108108108,60
3,Rape,4,3.0,33.333333333333,25,30,-16.666666666666,115,101,13.861386138613,25
4,Robbery,58,56.0,3.571428571428,302,222,36.036036036036,1243,882,40.929705215419,21.98233562316

In [47]:
tempdf.rename(columns= {
    "Unnamed: 3": "week2date_curyear", 
    "Unnamed: 4": "week2date_prevyear", 
    "Unnamed: 5": "week2date_pctchange", 
    "Unnamed: 6": "28day_curyear",
    "Unnamed: 7": "28day_prevyear", 
    "Unnamed: 8": "28day_pctchange",
    "Unnamed: 9": "year2date_curyear",
    "Unnamed: 10": "year2date_prevyear", 
    "Unnamed: 11": "year2date_pctchange",
    "Unnamed: 12": "2year_pctchange"
    }, inplace=True)

In [48]:
tempdf.head()

,Crime Complaints,week2date_curyear,week2date_prevyear,week2date_pctchange,28day_curyear,28day_prevyear,28day_pctchange,year2date_curyear,year2date_prevyear,year2date_pctchange,2year_pctchange
0,NaN,Week to Date,NaN,NaN,28 Day,NaN,NaN,Year to Date*,NaN,NaN,2 Year
1,,2022,2021.0,% Chg,2022,2021,% Chg,2022,2021,% Chg,% Chg
2,Murder,4,4.0,0,11,14,-21.428571428571,40,37,8.108108108108,60
3,Rape,4,3.0,33.333333333333,25,30,-16.666666666666,115,101,13.861386138613,25
4,Robbery,58,56.0,3.571428571428,302,222,36.036036036036,1243,882,40.929705215419,21.98233562316

In [49]:
tempdf.drop([0,1], inplace=True)

In [50]:
tempdf.head()

,Crime Complaints,week2date_curyear,week2date_prevyear,week2date_pctchange,28day_curyear,28day_prevyear,28day_pctchange,year2date_curyear,year2date_prevyear,year2date_pctchange,2year_pctchange
2,Murder,4,4.0,0,11,14,-21.428571428571,40,37,8.108108108108,60
3,Rape,4,3.0,33.333333333333,25,30,-16.666666666666,115,101,13.861386138613,25
4,Robbery,58,56.0,3.571428571428,302,222,36.036036036036,1243,882,40.929705215419,21.98233562316
5,Fel. Assault,150,91.0,64.835164835164,540,402,34.328358208955,1876,1521,23.339907955292,21.423948220064
6,Burglary,59,46.0,28.260869565217,233,172,35.465116279069,876,614,42.671009771987,29.777777777777

In [51]:
tempdict = tempdf.to_dict()

In [52]:
tempdict.keys()

dict_keys(['Crime Complaints', 'week2date_curyear', 'week2date_prevyear', 'week2date_pctchange', '28day_curyear', '28day_prevyear', '28day_pctchange', 'year2date_curyear', 'year2date_prevyear', 'year2date_pctchange', '2year_pctchange'])

In [54]:
tempdf.to_json('../tempjson.json')