In [1]:
import json
import pandas as pd
import numpy as np

In [3]:
# GeoJson sources

neigh_bounds = "../Geojson/NeighbourhoodBoundaries.json"
train_lines = "../Geojson/SubwayLinesEdit.geojson"
train_entrances = "../Geojson/SubwayEntrances.geojson"
train_stations = "../Geojson/SubwayStations.geojson"

In [4]:
# Neighbourhood Boundaries simplify

with open(neigh_bounds, 'r') as bounds_file:
    bounds_data = json.load(bounds_file)

In [5]:
for i, data in enumerate(bounds_data['features']):
    bounds_data['features'][i] = { 
        'ntacode': data['properties']['ntacode'], 
        'name': data['properties']['ntaname'], 
        'boro': data['properties']['boro_name'], 
        'coords': data['geometry']['coordinates'],
        'geom_type':  data['geometry']['type']}

In [6]:
with open('reduced_nbounds.json', 'w') as f:
    json.dump(bounds_data, f)

In [5]:
# Subway Entrances simplify

with open(train_entrances, 'r') as entr_file:
    entr_data = json.load(entr_file)

In [6]:
for i, data in enumerate(entr_data['features']):
    entr_data['features'][i] = {
        'line': data['properties']['line'],
        'line_name': data['properties']['name'],
        'type': data['geometry']['type'],
        'coords': data['geometry']['coordinates']
    }

In [8]:
with open('reduced_subentr.json', 'w') as fp:
    json.dump(entr_data, fp)

In [9]:
# Subway stations simplify
with open(train_stations, 'r') as stations_file:
    stations_data = json.load(stations_file)

In [11]:
for i, data in enumerate(stations_data['features']):
    stations_data['features'][i] = {
        'name': data['properties']['name'],
        'line': data['properties']['line'],
        'coords': data['geometry']['coordinates'],
        'type': data['geometry']['type']
    }

In [12]:
with open('reduced_stations.json', 'w') as fp:
    json.dump(stations_data, fp)

In [13]:
# Subway lines edit
with open(train_lines, 'r') as lines_file:
    lines_data = json.load(lines_file)

In [14]:
for i, data in enumerate(lines_data['features']):
    lines_data['features'][i] = {
        'line_name': data['properties']['name'],
        'coords': data['geometry']['coordinates'],
        'type': data['geometry']['type']
    }

In [15]:
with open('reduced_lines.json', 'w') as fp:
    json.dump(lines_data, fp)

In [40]:
exdf = pd.read_excel('../tempexcel.xlsx')

In [41]:
exdf = pd.DataFrame(exdf)

In [42]:
exdf.to_csv('tempcsv.csv', index=False)

In [43]:
tempcsv = pd.read_csv('../tempcsv.csv', skiprows=10)

In [44]:
tempdf = pd.DataFrame(tempcsv)
tempdf.drop(tempdf.columns[0],axis=1, inplace=True)
tempdf.drop(tempdf.columns[1],axis=1, inplace=True)
tempdf.drop(tempdf.columns[-1],axis=1, inplace=True)
tempdf.drop(tempdf.columns[-1],axis=1, inplace=True)

In [45]:
tempdf.head()

,Crime Complaints,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,Week to Date,NaN,NaN,28 Day,NaN,NaN,Year to Date*,NaN,NaN,2 Year
1,,2022,2021.0,% Chg,2022,2021,% Chg,2022,2021,% Chg,% Chg
2,Murder,4,4.0,0,11,14,-21.428571428571,40,37,8.108108108108,60
3,Rape,4,3.0,33.333333333333,25,30,-16.666666666666,115,101,13.861386138613,25
4,Robbery,58,56.0,3.571428571428,302,222,36.036036036036,1243,882,40.929705215419,21.98233562316

In [47]:
tempdf.rename(columns= {
    "Unnamed: 3": "week2date_curyear", 
    "Unnamed: 4": "week2date_prevyear", 
    "Unnamed: 5": "week2date_pctchange", 
    "Unnamed: 6": "28day_curyear",
    "Unnamed: 7": "28day_prevyear", 
    "Unnamed: 8": "28day_pctchange",
    "Unnamed: 9": "year2date_curyear",
    "Unnamed: 10": "year2date_prevyear", 
    "Unnamed: 11": "year2date_pctchange",
    "Unnamed: 12": "2year_pctchange"
    }, inplace=True)

In [48]:
tempdf.head()

,Crime Complaints,week2date_curyear,week2date_prevyear,week2date_pctchange,28day_curyear,28day_prevyear,28day_pctchange,year2date_curyear,year2date_prevyear,year2date_pctchange,2year_pctchange
0,NaN,Week to Date,NaN,NaN,28 Day,NaN,NaN,Year to Date*,NaN,NaN,2 Year
1,,2022,2021.0,% Chg,2022,2021,% Chg,2022,2021,% Chg,% Chg
2,Murder,4,4.0,0,11,14,-21.428571428571,40,37,8.108108108108,60
3,Rape,4,3.0,33.333333333333,25,30,-16.666666666666,115,101,13.861386138613,25
4,Robbery,58,56.0,3.571428571428,302,222,36.036036036036,1243,882,40.929705215419,21.98233562316

In [49]:
tempdf.drop([0,1], inplace=True)

In [50]:
tempdf.head()

,Crime Complaints,week2date_curyear,week2date_prevyear,week2date_pctchange,28day_curyear,28day_prevyear,28day_pctchange,year2date_curyear,year2date_prevyear,year2date_pctchange,2year_pctchange
2,Murder,4,4.0,0,11,14,-21.428571428571,40,37,8.108108108108,60
3,Rape,4,3.0,33.333333333333,25,30,-16.666666666666,115,101,13.861386138613,25
4,Robbery,58,56.0,3.571428571428,302,222,36.036036036036,1243,882,40.929705215419,21.98233562316
5,Fel. Assault,150,91.0,64.835164835164,540,402,34.328358208955,1876,1521,23.339907955292,21.423948220064
6,Burglary,59,46.0,28.260869565217,233,172,35.465116279069,876,614,42.671009771987,29.777777777777

In [51]:
tempdict = tempdf.to_dict()

In [52]:
tempdict.keys()

dict_keys(['Crime Complaints', 'week2date_curyear', 'week2date_prevyear', 'week2date_pctchange', '28day_curyear', '28day_prevyear', '28day_pctchange', 'year2date_curyear', 'year2date_prevyear', 'year2date_pctchange', '2year_pctchange'])

In [54]:
tempdf.to_json('../tempjson.json')

In [55]:
tempdf

,Crime Complaints,week2date_curyear,week2date_prevyear,week2date_pctchange,28day_curyear,28day_prevyear,28day_pctchange,year2date_curyear,year2date_prevyear,year2date_pctchange,2year_pctchange
2,Murder,4,4.0,0,11,14,-21.428571428571,40,37,8.108108108108,60
3,Rape,4,3.0,33.333333333333,25,30,-16.666666666666,115,101,13.861386138613,25
4,Robbery,58,56.0,3.571428571428,302,222,36.036036036036,1243,882,40.929705215419,21.98233562316
5,Fel. Assault,150,91.0,64.835164835164,540,402,34.328358208955,1876,1521,23.339907955292,21.423948220064
6,Burglary,59,46.0,28.260869565217,233,172,35.465116279069,876,614,42.671009771987,29.777777777777
7,Gr. Larceny,123,136.0,-9.558823529411,600,483,24.223602484472,2267,1648,37.56067961165,35.829838226482
8,G.L.A.,52,61.0,-14.754098360655,256,214,19.626168224299,1230,656,87.5,166.233766233766
9,TOTAL,450,397.0,13.350125944584,1967,1537,27.976577748861,7647,5459,40.080600842645,39.365773646801
10,Transit,5,8.0,-37.5,20,20,0,96,67,43.283582089552,-28.888888888888
11,Housing,28,15.0,86.666666666666,105,94,11.702127659574,416,314,32.484076433121,24.550898203592
12,Petit Larceny,347,212.0,63.679245283018,1464,856,71.028037383177,4994,3491,43.053566313377,18.06146572104
13,Misd. Assault,195,146.0,33.561643835616,800,606,32.013201320132,2768,2202,25.703905540417,4.689863842662
14,UCR Rape*,14,9.0,55.555555555555,47,53,-11.320754716981,202,166,21.686746987951,39.310344827586
15,Other Sex Crimes,16,19.0,-15.78947368421,85,80,6.25,261,254,2.755905511811,29.850746268656
16,Shooting Vic.,17,10.0,70,43,38,13.157894736842,145,107,35.514018691588,190
17,Shooting Inc.,10,10.0,0,33,35,-5.714285714285,126,98,28.571428571428,173.913043478261
18,Hate Crimes,0,1.0,-100,1,2,-50,13,7,85.714285714285,62.5
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Historical Perspective,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,(Historical perspective is a complete calendar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,,NaN,,NaN,,NaN,,,%Chg,%Chg
23,NaN,1990,NaN,1993,NaN,1998,NaN,2001,2021,'21 vs '01,'21 vs '98
24,Murder,653,NaN,512,NaN,166,NaN,190,148,-22.105263157894,-10.843373493975
25,Rape,644,NaN,718,NaN,633,NaN,502,368,-26.693227091633,-41.864139020537
26,Robbery,17862,NaN,16378,NaN,7571,NaN,5178,4037,-22.035534955581,-46.678113855501
27,Fel. Assault,9538,NaN,8925,NaN,6474,NaN,5335,6229,16.757263355201,-3.784368242199
28,Burglary,19326,NaN,18938,NaN,8247,NaN,5813,2251,-61.276449337691,-72.705226142839
29,Gr. Larceny,8856,NaN,7511,NaN,4661,NaN,4373,7023,60.599131031328,50.675820639347
30,G.L.A.,22946,NaN,15345,NaN,7169,NaN,5522,3097,-43.915248098515,-56.800111591574
31,TOTAL,79825,NaN,68327,NaN,34921,NaN,26913,23153,-13.970943410247,-33.698920420377
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Figures are preliminary and subject to further...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,"As of January 2013, complaints occurring withi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,borough and precinct crime totals and are disp...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"Unless otherwise noted, Crime statistics refle...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,by the FBI Uniform Crime Reporting Program. Al...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,the UCR Program.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"* Uniform Crime Reporting (""UCR"") Rape consist...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Prepared by,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CompStat,NaN
42,NYPD CompStat Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN