In [2]:
import pandas as pd
import numpy as np
import pandasql as psql
import json

In [4]:
# precinct num by borough

precinct_by_borogh_enpoints = {
    "manhattan": {
        "1": [],	
        "5": [],	
        "6": [],	
        "7": [],	
        "9": [],	
        "10": [], 	 
        "13": [], 	 
        "14": [], # "Midtown So. Pct.": [],	  
        "17": [], 	 
        "18": [], # "Midtown No. Pct.": [],	 
        "19": [], 	 
        "20": [], 	 
        "22": [], # "Central Park Pct.": [],	
        "23": [], 	
        "24": [], 	
        "25": [], 	
        "26": [], 
        "28": [], 
        "30": [], 
        "32": [], 
        "33": [], 
        "34": []	
    },

    "bronx": {
        "40": [], 	
        "41": [], 	
        "42": [], 	
        "43": [], 	
        "44": [], 	
        "45": [], 	
        "46": [], 	
        "47": [], 	
        "48": [], 	
        "49": [], 	 
        "50": [], 	 
        "52": []	
    },

    "brooklyn": {     	
        "60": [],  
        "61": [], 
        "62": [],  
        "63": [],
        "66": [],
        "67": [],
        "68": [],
        "69": [],
        "70": [], 
        "71": [],
        "72": [], 
        "73": [],
        "75": [],
        "76": [],
        "77": [],
        "78": [], 
        "79": [],
        "81": [], 
        "83": [],
        "84": [],
        "88": [],
        "90": [], 
        "94": []
    },

    "queens": {
        "100": [],
        "101": [],
        "102": [],
        "103": [],
        "104": [],
        "105": [], 
        "106": [],
        "107": [],
        "108": [], 
        "109": [],
        "110": [], 
        "111": [],
        "112": [],
        "113": [],
        "114": [],
        "115": []
    },

    "staten-island": {
        "120": [],
        "121": [],
        "122": [],
        "123": []
    }
}

In [5]:
# create precinct by borough bounds file

precinct_bounds_filepath = '../SimplifiedGeoJson/precinct_bounds.geojson'

with open(precinct_bounds_filepath, 'r') as pct_bnds_file:
    pct_bnds_data = json.load(pct_bnds_file)

In [6]:
pct_by_boro = {
    "manhattan": {},
    "bronx": {},
    "brooklyn": {},
    "queens": {},
    "staten-island": {}
}

for feat in pct_bnds_data['features']:
    pct = feat['properties']['precinct']

    for k in precinct_by_borogh_enpoints.keys():
        if pct in precinct_by_borogh_enpoints[k]:
            pct_by_boro[k][pct] = feat

In [13]:
len(pct_by_boro['staten-island'].keys())

4

In [14]:
with open('../SimplifiedGeoJson/precinct_bounds_by_borough.json', 'w') as f:
    json.dump(pct_by_boro, f)

In [ ]:
# precinct specific data 

# figuring out general excel download path format

# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-040pct.xlsx

# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-041pct.xlsx

# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-042pct.xlsx

# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-060pct.xlsx

# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-094pct.xlsx

# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-001pct.xlsx

# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-014pct.xlsx

# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-123pct.xlsx



# general format:

# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-dddpct.xlsx
# replace "ddd" with precinct number in 3 digit format

In [15]:
# populate endpoint dict
for boro in precinct_by_borogh_enpoints:
    for pct in precinct_by_borogh_enpoints[boro]:
        ddd = pct
        if len(ddd) == 1:
            ddd = "00"+ddd
        elif len(ddd) == 2:
            ddd = "0"+ddd
        
        pct_xlx_endpoint = f"https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-{ddd}pct.xlsx"
        precinct_by_borogh_enpoints[boro][pct] = pct_xlx_endpoint

In [17]:
with open('precinct_xlsx_endpoints.json', 'w') as f:
    json.dump(precinct_by_borogh_enpoints, f)

In [ ]:
# bronx xlx
# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbbx.xlsx

# brooklyn south xlx
# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbbs.xlsx

# brooklyn north xlx
# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbbn.xlsx

# manhattan south xlx
# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbms.xlsx

# manhattan north xlx
# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbmn.xlsx

# queens south xlx
# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbqs.xlsx

# queens north xlx
# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbqn.xlsx

# staten-island xlx
# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbsi.xlsx


# citywide xlx
# https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-city.xlsx

In [18]:
# borough specific xlsx endpoints

boro_xlsx_codes = {
    'bronx': ['bx'],
    'brooklyn': ['bs', 'bn'],
    'manhattan': ['ms', 'mn'],
    'queens': ['qs', 'qn'],
    'staten-island': ['si']
}

borough_xlsx_endpoints = {}

In [19]:
for boro in boro_xlsx_codes:
    for code in boro_xlsx_codes[boro]:
        if boro not in borough_xlsx_endpoints:
            borough_xlsx_endpoints[boro] = []
        
        endpnt = f"https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pb{code}.xlsx"
        borough_xlsx_endpoints[boro].append(endpnt)

In [20]:
borough_xlsx_endpoints

{'bronx': ['https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbbx.xlsx'],
 'brooklyn': ['https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbbs.xlsx',
  'https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbbn.xlsx'],
 'manhattan': ['https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbms.xlsx',
  'https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbmn.xlsx'],
 'queens': ['https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbqs.xlsx',
  'https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbqn.xlsx'],
 'staten-island': ['https://www1.nyc.gov/assets/nypd/downloads/excel/crime_statistics/cs-en-us-pbsi.xlsx']}

In [21]:
with open('borough_xlsx_endpoints.json', 'w') as f:
    json.dump(borough_xlsx_endpoints, f)

In [22]:
# city wide historical data
citywide_crimestat_history = {
    'seven_major': ['https://www1.nyc.gov/assets/nypd/downloads/excel/analysis_and_planning/historical-crime-data/seven-major-felony-offenses-2000-2021.xls'],
    'seven_non_major': ['https://www1.nyc.gov/assets/nypd/downloads/excel/analysis_and_planning/historical-crime-data/non-seven-major-felony-offenses-2000-2021.xls'],
    'misdemeanors': ['https://www1.nyc.gov/assets/nypd/downloads/excel/analysis_and_planning/historical-crime-data/misdemeanor-offenses-2000-2021.xls']
}

In [23]:
with open('citywide_crime_history.json', 'w') as f:
    json.dump(citywide_crimestat_history, f)

In [24]:
# precinct crime history
precinct_crimestat_history = {
    'seven_major': ['https://www1.nyc.gov/assets/nypd/downloads/excel/analysis_and_planning/historical-crime-data/seven-major-felony-offenses-by-precinct-2000-2021.xls'],
    'seven_non_major': ['https://www1.nyc.gov/assets/nypd/downloads/excel/analysis_and_planning/historical-crime-data/non-seven-major-felony-offenses-by-precinct-2000-2021.xls'],
    'misdemeanors': ['https://www1.nyc.gov/assets/nypd/downloads/excel/analysis_and_planning/historical-crime-data/misdemeanor-offenses-by-precinct-2000-2021.xls']
}

In [62]:
with open('precinct_crime_history.json', 'w') as f:
    json.dump(precinct_crimestat_history, f)

In [84]:
# parse data from borough crime endpoints

def parse_from_xlsx(endpoint:str):
    df = pd.read_excel(endpoint, skiprows=lambda x: x in range(11), skipfooter=11)
    return df

In [86]:
bdf = parse_from_xlsx(borough_xlsx_endpoints['bronx'][0])
bdf.drop('Unnamed: 1', axis=1, inplace=True)
bdf.drop(bdf.columns[-1],axis=1, inplace=True)
bdf.drop(bdf.columns[-1],axis=1, inplace=True)
bdf.drop([18, 20, 21], axis=0, inplace=True)

In [87]:
bdf

,Unnamed: 0,Week to Date,Unnamed: 3,Unnamed: 4,28 Day,Unnamed: 6,Unnamed: 7,Year to Date*,Unnamed: 9,Unnamed: 10,2 Year
0,,2022,2021.0,% Chg,2022.0,2021,% Chg,2022,2021,% Chg,% Chg
1,Murder,3,3.0,0,11.0,17,-35.294118,43,40,7.5,59.259259
2,Rape,7,3.0,133.333333,26.0,22,18.181818,122,104,17.307692,29.787234
3,Robbery,95,61.0,55.737705,325.0,237,37.130802,1335,943,41.569459,26.062323
4,Fel. Assault,112,100.0,12,521.0,403,29.280397,1994,1622,22.934649,22.632226
5,Burglary,51,40.0,27.5,223.0,170,31.176471,927,654,41.743119,27.68595
6,Gr. Larceny,145,112.0,29.464286,586.0,475,23.368421,2414,1761,37.081204,37.864078
7,G.L.A.,78,58.0,34.482759,272.0,233,16.738197,1309,714,83.333333,169.896907
8,TOTAL,491,377.0,30.238727,1964.0,1557,26.140013,8144,5838,39.499829,41.192788
9,Transit,7,2.0,250,23.0,17,35.294118,103,69,49.275362,-28.965517
10,Housing,33,13.0,153.846154,115.0,89,29.213483,448,327,37.003058,29.106628
11,Petit Larceny,335,202.0,65.841584,1471.0,821,79.171742,5349,3692,44.880823,20.06734
12,Misd. Assault,161,147.0,9.52381,760.0,589,29.032258,2929,2349,24.691358,5.625676
13,UCR Rape*,7,10.0,-30,44.0,49,-10.204082,209,176,18.75,40.268456
14,Other Sex Crimes,13,18.0,-27.777778,78.0,79,-1.265823,274,272,0.735294,29.85782
15,Shooting Vic.,10,14.0,-28.571429,46.0,47,-2.12766,155,121,28.099174,187.037037
16,Shooting Inc.,7,14.0,-50,33.0,44,-25,133,112,18.75,166
17,Hate Crimes,0,4.0,-100,1.0,6,-83.333333,13,11,18.181818,62.5
19,Historical Perspective,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,1990,NaN,1993,NaN,1998,NaN,2001,2021,'21 vs '01,'21 vs '98
23,Murder,653,NaN,512,NaN,166,NaN,190,148,-22.105263,-10.843373
24,Rape,644,NaN,718,NaN,633,NaN,502,368,-26.693227,-41.864139
25,Robbery,17862,NaN,16378,NaN,7571,NaN,5178,4037,-22.035535,-46.678114
26,Fel. Assault,9538,NaN,8925,NaN,6474,NaN,5335,6229,16.757263,-3.784368
27,Burglary,19326,NaN,18938,NaN,8247,NaN,5813,2251,-61.276449,-72.705226
28,Gr. Larceny,8856,NaN,7511,NaN,4661,NaN,4373,7023,60.599131,50.675821
29,G.L.A.,22946,NaN,15345,NaN,7169,NaN,5522,3097,-43.915248,-56.800112
30,TOTAL,79825,NaN,68327,NaN,34921,NaN,26913,23153,-13.970943,-33.69892

In [101]:
year2date_df, hist_persp = pd.DataFrame(bdf[:18]), pd.DataFrame(bdf[18:])

In [102]:
year2date_df

,Unnamed: 0,Week to Date,Unnamed: 3,Unnamed: 4,28 Day,Unnamed: 6,Unnamed: 7,Year to Date*,Unnamed: 9,Unnamed: 10,2 Year
0,,2022,2021.0,% Chg,2022.0,2021,% Chg,2022,2021,% Chg,% Chg
1,Murder,3,3.0,0,11.0,17,-35.294118,43,40,7.5,59.259259
2,Rape,7,3.0,133.333333,26.0,22,18.181818,122,104,17.307692,29.787234
3,Robbery,95,61.0,55.737705,325.0,237,37.130802,1335,943,41.569459,26.062323
4,Fel. Assault,112,100.0,12,521.0,403,29.280397,1994,1622,22.934649,22.632226
5,Burglary,51,40.0,27.5,223.0,170,31.176471,927,654,41.743119,27.68595
6,Gr. Larceny,145,112.0,29.464286,586.0,475,23.368421,2414,1761,37.081204,37.864078
7,G.L.A.,78,58.0,34.482759,272.0,233,16.738197,1309,714,83.333333,169.896907
8,TOTAL,491,377.0,30.238727,1964.0,1557,26.140013,8144,5838,39.499829,41.192788
9,Transit,7,2.0,250,23.0,17,35.294118,103,69,49.275362,-28.965517
10,Housing,33,13.0,153.846154,115.0,89,29.213483,448,327,37.003058,29.106628
11,Petit Larceny,335,202.0,65.841584,1471.0,821,79.171742,5349,3692,44.880823,20.06734
12,Misd. Assault,161,147.0,9.52381,760.0,589,29.032258,2929,2349,24.691358,5.625676
13,UCR Rape*,7,10.0,-30,44.0,49,-10.204082,209,176,18.75,40.268456
14,Other Sex Crimes,13,18.0,-27.777778,78.0,79,-1.265823,274,272,0.735294,29.85782
15,Shooting Vic.,10,14.0,-28.571429,46.0,47,-2.12766,155,121,28.099174,187.037037
16,Shooting Inc.,7,14.0,-50,33.0,44,-25,133,112,18.75,166
17,Hate Crimes,0,4.0,-100,1.0,6,-83.333333,13,11,18.181818,62.5

In [103]:
y2dcols = year2date_df.columns
new_col_names = ["crimes", "week2date_curyear", "week2date_prevyear", "week2date_pctchange", "28day_curyear", "28day_prevyear", "28day_pctchange", "year2date_curyear", "year2date_prevyear", "year2date_pctchange", "2year_pctchange"]
old2new_map = {}
for i, col_name in enumerate(y2dcols):
    old2new_map[col_name] = new_col_names[i]

year2date_df.rename(columns= old2new_map, inplace=True)

In [104]:
year2date_df.drop([0], axis=0, inplace=True)
year2date_df.reset_index(drop=True, inplace=True)
year2date_df

,crimes,week2date_curyear,week2date_prevyear,week2date_pctchange,28day_curyear,28day_prevyear,28day_pctchange,year2date_curyear,year2date_prevyear,year2date_pctchange,2year_pctchange
0,Murder,3,3.0,0,11.0,17,-35.294118,43,40,7.5,59.259259
1,Rape,7,3.0,133.333333,26.0,22,18.181818,122,104,17.307692,29.787234
2,Robbery,95,61.0,55.737705,325.0,237,37.130802,1335,943,41.569459,26.062323
3,Fel. Assault,112,100.0,12,521.0,403,29.280397,1994,1622,22.934649,22.632226
4,Burglary,51,40.0,27.5,223.0,170,31.176471,927,654,41.743119,27.68595
5,Gr. Larceny,145,112.0,29.464286,586.0,475,23.368421,2414,1761,37.081204,37.864078
6,G.L.A.,78,58.0,34.482759,272.0,233,16.738197,1309,714,83.333333,169.896907
7,TOTAL,491,377.0,30.238727,1964.0,1557,26.140013,8144,5838,39.499829,41.192788
8,Transit,7,2.0,250,23.0,17,35.294118,103,69,49.275362,-28.965517
9,Housing,33,13.0,153.846154,115.0,89,29.213483,448,327,37.003058,29.106628
10,Petit Larceny,335,202.0,65.841584,1471.0,821,79.171742,5349,3692,44.880823,20.06734
11,Misd. Assault,161,147.0,9.52381,760.0,589,29.032258,2929,2349,24.691358,5.625676
12,UCR Rape*,7,10.0,-30,44.0,49,-10.204082,209,176,18.75,40.268456
13,Other Sex Crimes,13,18.0,-27.777778,78.0,79,-1.265823,274,272,0.735294,29.85782
14,Shooting Vic.,10,14.0,-28.571429,46.0,47,-2.12766,155,121,28.099174,187.037037
15,Shooting Inc.,7,14.0,-50,33.0,44,-25,133,112,18.75,166
16,Hate Crimes,0,4.0,-100,1.0,6,-83.333333,13,11,18.181818,62.5

In [59]:
hist_persp

,Unnamed: 0,Week to Date,Unnamed: 3,Unnamed: 4,28 Day,Unnamed: 6,Unnamed: 7,Year to Date*,Unnamed: 9,Unnamed: 10,2 Year,12 Year (2010),29 Year (1993)
19,Historical Perspective,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,1990,NaN,1993,NaN,1998,NaN,2001,2021,'21 vs '01,'21 vs '98,'21 vs '93,'21 vs '90
23,Murder,653,NaN,512,NaN,166,NaN,190,148,-22.105263,-10.843373,-71.09375,-77.335375
24,Rape,644,NaN,718,NaN,633,NaN,502,368,-26.693227,-41.864139,-48.746518,-42.857143
25,Robbery,17862,NaN,16378,NaN,7571,NaN,5178,4037,-22.035535,-46.678114,-75.351081,-77.398947
26,Fel. Assault,9538,NaN,8925,NaN,6474,NaN,5335,6229,16.757263,-3.784368,-30.207283,-34.692808
27,Burglary,19326,NaN,18938,NaN,8247,NaN,5813,2251,-61.276449,-72.705226,-88.113845,-88.352479
28,Gr. Larceny,8856,NaN,7511,NaN,4661,NaN,4373,7023,60.599131,50.675821,-6.497138,-20.697832
29,G.L.A.,22946,NaN,15345,NaN,7169,NaN,5522,3097,-43.915248,-56.800112,-79.81753,-86.503094
30,TOTAL,79825,NaN,68327,NaN,34921,NaN,26913,23153,-13.970943,-33.69892,-66.11442,-70.995302